nav.navbar
    .gameTabs
        ul.navbar-list
            li.navbar-item
                a#genTab.tab GENERATE
                .genTabPop.popover
                    ul.popover-list
                        li.popover-item
                            a#wpnGenTab.popover-link WEAPON
                        li.popover-item
                            a#charGenTab.popover-link CHARACTER
                        li.popover-item
                            a#vehGenTab.popover-link VEHICLE
            li.navbar-item
                a#invTab.tab INVENTORY
                #invTabPop.popover
                    ul.popover-list
                        li.popover-item
                            a#wpnInvTab.popover-link STASH
                        li.popover-item
                            a#charInvTab.popover-link ROSTER
                        li.popover-item
                            a#vehInvTab.popover-link GARAGE